.sign-up {
	max-width: 496px;
	height: 748px;
	background-color: var(--msl-white);
	padding-left: 48px !important;
	padding-right: 48px !important;
	border: 1px solid var(--msl-boder);
	border-radius: 8px !important;
}
