.user-black {
	background-image: url(../../image/icon/User-black.svg);
	width: 24px;
	height: 24px;
}
.user-white {
	background-image: url(../../image/icon/User-white.svg);
	width: 24px;
	height: 24px;
}
.safe-black {
	background-image: url(../../image/icon/safe-black.svg);
	width: 24px;
	height: 24px;
}
.safe-white {
	background-image: url(../../image/icon/safe-white.svg);
	width: 24px;
	height: 24px;
}
