.base-button {
	border-radius: var(--msl-border-radius-sm);
	height: var(--msl-height-button);
	border: none;
	cursor: pointer;
	span {
		font-size: var(--msl-font-size-button);
	}
}

.primary {
	background-color: var(--msl-bg-button-primary);
	span {
		color: var(--msl-font-button-primary);
	}
	&:hover {
		background-color: var(--msl-bg-button-primary-hover) !important;
	}
}
.text {
	background-color: var(--msl-bg-button-text);
	&:hover {
		text-decoration: underline var(--msl-font-button-text);
	}
	span {
		color: var(--msl-font-button-text);
	}
}
.disable {
	opacity: 0.6;
	pointer-events: none;
}
